*.pyc
__pycache__
.git
.github
.venv
.terraform
node_modules
*.egg-info
data/
raw/
reports/eda/
reports/training/model/
reports/training/model_svc/
reports/training/imgs/
reports/training/*.json
docs/
*.ipynb
*.pdf
*.typ
*.zip
infra/
pipeline/
cloudbuild*.yaml
.tfstate*
